/* postcode start */

*{ 
  margin: 0px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.appdetail{
  display: flex;
  align-items: center;
  background: #f1f1f1;
}
.appdetail img {
  width: 50px;
}
#sidebar {
  margin-left: 10px;
  margin-right: 10px;
margin-top: 20px;  
border-radius: 7px;  
overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15);
  border: 1px solid #dfe3e8;
}
.postmenu{
  display: flex;
}
header {
border-radius: 7px;
}
.postmenu ul li{
      list-style: none;
      padding: 15px;
}
.active{
  border-bottom: 0.3rem solid #5c6ac4;    
}
.postmenu ul {
  display: flex;
}

.appdetail a{
  text-decoration: none;
}
.appdetail a span{
  color:#000;
}
.clsdisplayspace {
  justify-content: space-between;
}
.allist {
  margin-left: 20px;
  /* margin-right: 595px; */
}
.article_contain .Polaris-Card__Header {
  padding-top: 3rem;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
table {
  border-collapse: collapse;
}
.mt-4, .my-4 {
  margin-top: 1.5rem!important;
}
.table td, .table th {
  border-top: none;
  padding: 1.2rem 1.5rem;
  vertical-align: middle;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  text-align: left;
}
.cls-page-pagination {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem!important;
}
/* general setting css start */
.zonset_container {
  margin-top: 3%;
}
.zonset_container .Polaris-Layout {
  margin-top: 0px;
  margin-left: 0px;
}
.zonset_container .Polaris-Layout__AnnotationWrapper {
  align-items: center;
}
p {
  margin: 0;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
b, strong {
  font-weight: bolder;
}
.Polaris-Button {
  text-decoration: none !important;
}
/* general setting css end */
/* Zones and rate start */
.Polaris-Page2 {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}
.clsdisflex.Polaris-Page-Header__Row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  align-items: end;
  margin-left: 14px;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.clsdisflex .Polaris-Breadcrumbs__Breadcrumb {
  border: none;
}
.clsarrow.Polaris-Page-Header__BreadcrumbWrapper {
  margin-right: 20px;
}
.clsdisflex .Polaris-Breadcrumbs__Breadcrumb:after {
  border: 1px solid #c4cdd5;
  padding: 14px;
  left: -4px;
}
.clszonetitle.Polaris-Header-Title {
  font-size: 22px;
  font-weight: 500;
  margin-top: 5%;
}
.clszonetitle.Polaris-Header-Title {
  font-size: 20px;
  color: #212b36;
  font-weight: 500;
}
/* Zones and rate end */
/* support start */
.clsdogfile.Polaris-Page-Header__Row {
  margin-bottom: 20px;
}
.clszonetitle.Polaris-Header-Title {
  font-size: 22px;
  font-weight: 500;
  margin-top: 5%;
  font-family: inherit;
  line-height: 1.2;
  color: #212b36;
}
.clstogflex .zapietAvatar img {
  border-radius: 50%;
  height: 52px;
  width: 52px;
}
.clstogflex {
  display: flex;
  flex-wrap: wrap;
}
/* support end */
/* header start */

.logoheader {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  box-shadow: 0px 1px #dfe3e8;
}
.Polaris-Page-Header .cls_enbledisable_btn, .shopifybtn {
  width: 25%;
}
.cls_enbledisable_btn, .shopifybtn {
  margin-top: 1%;
}
.logoimg {
  width: 50px;
}
.cls_enbledisable_msg {
  margin-top: 2%;
}
.Polaris-Page-Header .cls_header_logo_image {
  width: 15%;
  /* width: 26%; */
}
.Polaris-Page-Header__TitleAndActions.cls_header_css {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobileview {
  display: none;
}
.clsdesign_for_msg {
  margin-top: -3%;
  margin-left: 12%;
  width: 50%;
}
.Polaris-Page-Header .cls_enbledisable_msg {
  width: 55%;
}
.cls_enbledisable_btn, .shopifybtn {
  margin-top: 1%;
}
#toggleButton .handle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  transition: all 0.2s;
}
#toggleButton.on .handle {    
  left: calc(100% - 22px);
}

#toggleButton.on {
  width:60px;
}
#toggleButton {
  width: 50px;
  /* width:75px; */
  height: 25px;
  background-color: #e6391a;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  margin-left: 20%;
}
#toggleButton.on {
  background-color: #5cb85c;
}
.shopifybtn .Polaris-Button--success, .cls_design_enaDisa .Polaris-Button--success {
  background: linear-gradient(180deg, #007a5c, #007a5c);
  border-color: #007a5c;
  box-shadow: inset 0 1px 0 0 #007a5c, 0 1px 0 0 rgba(22, 29, 37, .05), 0 0 0 0 transparent;
  color: #fff;
  fill: #fff;
}
.Polaris-Page-Header .polaris-nav-menu .cls_menu_mobile {
  display: none !important;
}
a.Polaris-Button.Polaris-Button--success:hover{
  color:#000;
  box-shadow: none;
}
/* header end */
/* footer start */
.footer_border {
  border: 1px solid #dfe3e8;
  border-radius: 999px;
  padding: 10px 20px;
}
.footermargin {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}   
/* footer end */
/* watsappbutton start */
.div_evowap_btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 999;
}
/* watsappbutton end */
/* setting page start */
.sectionmessage {
  margin-top: -1.6rem;
}
.polarisboxshadow {
  padding: 5% !important;
}
.Cookiesett {
  font-size: 2rem;
  font-weight: 600;
}
.bodycontainer.Polaris-Page {
  max-width: 117rem;
}
.colorflex {
  display: flex;
  align-items: center;
}

.bannerlayout .bannerbackground, .color_circle, .layoutSelect2 {
  cursor: pointer;
}
.fcolor button {
  border: none;
  background-color: transparent;
}
.fcolor .color_circle {
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
}
.backimg {
  background-image: url(../images/bg.png);
  text-align: center;
  height: 100%;
  overflow: auto;
}
.bodycontainer .buttonbottom {
  padding-top: 1%;
  justify-content: end;
}
span.bar-title {
  font-size: 20px;
  font-weight: 600;
}
span.bar-text-wrapper {
  text-align: left;
}
.modal_preview {
  width: 600px;
  height: 300px;
  position: absolute;
  flex-direction: column;
  border: 1px solid #000;
}
.preview_set {
  padding: 13px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span.bar-message ,span.bar-subtitle  {
  text-align: left;
  display: flex;
  margin-top: 20px;
  line-height: 25px;
}
span.bar-message.change {
  display: inline-block;
}
a.cc-dismiss.postcode {
  padding: 10px 50px;
}
a.cc-dismiss.save {
  margin-left: 2%;
   cursor: pointer;
  text-transform: uppercase;
  line-height: 1.9;
  padding: 6px 18px;
  font-size: 17px;
  letter-spacing: 1px;
}
input#freightAreaZipcodePopup {
  font-size: 16px;
  font-family: Helvetica,Helvetica Neue,Arial,Lucida Grande,sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  padding: 6px 5px;
}
input#freightAreaZipcodePopup:focus-visible {
  outline: none;
}
.cc-close {
  font-size: 20px;
  font-weight: 700;
}
.modal_preview .cc-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
span.bar-subtitle.change {
  display: inline-block;
}
.preview-cookie-bar.modal-wrapper   {
  display: flex;
  align-items: center;
  justify-content: center;
}
.radiobutton .globo-list-control {
  list-style: none;
}
.radiobutton {
  padding-left: 0;
  padding-top: 10px;
}
.disp_fle_ju {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
/* setting page end */
.zonerat_contain button.Polaris-Breadcrumbs__Breadcrumb{
  cursor: pointer;
}
/* postcode end */

@media (max-width: 1860px) {
  .clsdesign_for_msg {
    margin-left: 8%;
    width: 65%;
  }
}
@media (max-width: 1700px) {
  .Polaris-Page-Header .cls_enbledisable_btn, .shopifybtn {
    width: 30%;
  }
}
@media (max-width:1430px) {
  .clsdesign_for_msg {
    margin-left: 3%;
    width: 75%;
}
.Polaris-Page-Header .cls_enbledisable_msg {
  width: 50%;
}
.Polaris-Page-Header .cls_enbledisable_btn, .shopifybtn {
  width: 35%;
}
}
@media (max-width:1291px) {
.cls_header_css {
  align-items: center;
}
.shopifybtn {
  width: 30%;
  order: 3;
}
.Polaris-Page-Header .cls_header_logo_image {
  width: 7%;
}
}
@media only screen and (max-width: 1291px) and (min-width: 911px) {
  .Polaris-Banner.Polaris-Banner--withinPage.clsdesign_for_msg.Polaris-Banner--statusWarning,
  .Polaris-Banner.Polaris-Banner--withinPage.clsdesign_for_msg.Polaris-Banner--statusSuccess{
    flex-wrap:wrap;
  }
  #toggleButton.on{
    width:50px;
    margin-left: 5%;
  }
  #toggleButton{
    margin-left: 5%;
  }
} 
@media (max-width: 1250px) {
  .app-setting-msg .msgwidth{
    width:unset;
  }
  .Polaris-Page-Header .cls_enbledisable_btn, .shopifybtn {
      width: 40%;
  }
  .clsdesign_for_msg {
    width: 94%;
  }
  .Polaris-Page-Header .cls_enbledisable_btn, .shopifybtn {
    width: 46%;
  }
  .modal_preview{
    width: auto;
  }
}
@media (max-width:991px) {
  .shopifybtn  a.Polaris-Button {	
    margin: 0.5rem;	
  }	
  .cls_enbledisable_btn.shopifybtn {	
    display: flex;	
    flex-wrap: wrap;	
    justify-content: center;	
  }
.polaris-nav-menu .cls_header_css {
  display: flex !important;
  flex-wrap: wrap;
}
.shopifybtn {
  width: 100%;
  order: 3;
      margin-top: 1rem;
}
.cls_header_css {
  align-items: unset;
}
.Polaris-Page-Header .cls_enbledisable_msg {
  width: 80%;
  order: 2;
}
.Polaris-Page-Header .cls_enbledisable_btn {
  width: 100%;
  order: 4;
}
.Polaris-Page-Header .cls_header_logo_image {
  width: 20%;
}
.cls_enbledisable_msg {
  margin-left: unset !important;
  margin-bottom: unset !important;
  margin-top: unset !important;
}

.enable-btn{
  width: 100% !important;
}
.cls_header_css .cls_header_logo_image {
  margin-bottom: 0% !important;
  margin-left: 0% !important;
}
.cls_enbledisable_btn {
  margin-left: unset !important;
}
.clsdesign_for_msg {
  width: 100% !important;
    margin-top: unset !important;
  margin-left: unset !important;
}
.cls_header_logo_image .logoimg {
  margin-bottom: 11% !important;
}
.cls_enbledisable_btn.shopifybtn .Polaris-Button {	
  width: 48%;	
}	
.mobileview{	
display: block;	
}	
.desktopview{	
display:none;	
}	
#toggleButton.on {	
width: 50px;	
}	
.preview_set{
  flex-wrap: wrap;
}
}	
@media (max-width:803px) {
  #cookies_bar_setting_save .Polaris-Layout__AnnotationContent.popview{
    height: 500px;
  }
}
@media (max-width:547px) {	
.cls_enbledisable_btn.shopifybtn  .Polaris-Button {	
  width: 46%;	
}
.footermargin{	
  flex-wrap: wrap;	
}
#toggleButton.on {
  width: 80px;
}
#toggleButton {
  width: 80px;
  margin-left: 0%;
}
.zonerat_contain .Polaris-Page2{
  padding: 0 0 !important;
}
  }
  
@media (max-width:490px) {
  .bodycontainer.Polaris-Page {
    padding: 0 5%;
}
}
@media (max-width:420px) {
  .Polaris-Banner.Polaris-Banner--withinPage.clsdesign_for_msg.Polaris-Banner--statusWarning ,
  .Polaris-Banner.Polaris-Banner--withinPage.clsdesign_for_msg.Polaris-Banner--statusSuccess{
    flex-wrap: wrap;
  }
  #toggleButton.on {
    width: 50px;
  }
  #toggleButton {
    width: 50px;
    margin-left: 0%;
  }
#toggleButton {
  margin-left:0;
}
.preview_set {
  padding: 13px 10px;
}
}
.errorcolor{
  color:red;
  }
  select {
    width: 100%;
}
.select2-container--default .select2-selection--multiple {
    border: 0;
    padding: 5px 10px;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: #ffd4bf;
    border: none;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    margin-right: 5px;
    color: #640e0e;
}
span.select2-selection.select2-selection--multiple {
  padding: 0;
}
.select2:focus-visible{
  outline: none;
}
.select2-container{
  width: 100% !important;
}
.clsarrow .Polaris-Breadcrumbs__Breadcrumb{
  padding: 0%;
}
.clsarrow .Polaris-Breadcrumbs__Icon{
  margin: 0;
}
.polarisboxshadow .Polaris-FormLayout{
  margin-top: 0;
}
.fea_con {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
}
.col-md-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-md-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.cus_help{
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;

}
.enable-btn{
  cursor: text;
}
@media (max-width:1200px) {
  .cus_help{
    width: auto;
    margin: 20px;
  }
}
@media (max-width:620px) {
  .fea_con {
    flex-wrap: nowrap;
  }
  .col-md-1 {
    flex: none;
    max-width: none;
}
.col-md-11 {
  flex: auto;
}

}